.release-list{
  margin: 20px;
  display: flex;
}
.release-list ul{
  padding: 0;
  list-style-type: none;
}
.release-list li{
  // background-color: rgba(59, 73, 55, 1);
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.release-list table{
  background-color: "hotpink";
}


.release-list li:hover{
  opacity: 0.7;
  background: #447522;
}
.release-list .artists{
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}
.release-list .releaseName{
  font-size: 0.9em;
  color: #ddd;
}
.crate-list{
  margin: 20px;
}
.crate-list table{
  padding: 0;
  list-style-type: none;
}
.crate-list td{
  background-color: rgba(59, 73, 55, 1);
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
.crate-list td:hover{
  opacity: 0.7;
  text-decoration: line-through;
}
.crate-list .artists{
  font-size: 0.9em;
  color: #ddd;
}
.crate-list .releaseName{
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.empty{
  margin: 20px;
  color: white;
  text-align: center;
}
